@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.8s ease-out forwards;
}


@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-fast {
  animation: slideIn 0.1s ease-out forwards;
}


@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  opacity: 0; /* Initial state */
  animation: slideInFromLeft 0.5s ease-out forwards;
}


.fade-in-list {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInList 0.5s ease-in forwards;
}

@keyframes fadeInList {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

